---
import Page from "../layouts/Page.astro";
const pageTitle = "Problema";
---
<Page title={pageTitle}>
	<h1 style="margin:0 0 1rem 0;">Problema ambiental</h1>
	<p>El riego tradicional, manual o por temporizador, rara vez considera la humedad real del suelo ni la probabilidad de lluvia. Esto genera <strong>sobre riego</strong> (lixiviación de nutrientes, eutrofización) o <strong>déficit hídrico</strong> (estrés del cultivo, menor rendimiento). En papa (Cundinamarca) se midió un exceso cercano a 5.000 m³/ha (Bonilla & López, 2015).</p>
	<p>Intervenir es necesario para: 1) reducir consumo de agua sin afectar productividad; 2) evitar contaminación por escorrentía; 3) disminuir costos de riego y energía; 4) aumentar resiliencia climática.</p>
</Page>
