---
import Page from "../layouts/Page.astro";
const pageTitle = "Referencias";
---
<Page title={pageTitle}>
	<h1 style="margin:0 0 1rem 0;">Referencias bibliográficas</h1>
	<ul>
		<li>FAO. (2022). El estado mundial de la agricultura y la alimentación.</li>
		<li>Bonilla, V. V., & López, D. F. (2015). Evaluación de huella hídrica en cultivo de papa R12.</li>
		<li>Martín Arroyo, M. (2017). El riego inteligente en la agricultura. iAgua.</li>
		<li>Colorado State University Extension. (2023). Irrigation Scheduling: Principles and Practices.</li>
		<li>Li, S., Zhang, Y., & Wang, L. (2022). Smart Irrigation and Precision Agriculture.</li>
	</ul>
</Page>
