---
import Page from "../layouts/Page.astro";
import ResultsCharts from "../components/ResultsCharts.astro";
const pageTitle = "Resultados esperados";
---
<Page title={pageTitle}>
	<h1 style="margin:0 0 1rem 0;">Resultados esperados</h1>
	<p>Se espera reducir el consumo hídrico entre 40–60% respecto al riego tradicional y aumentar 15–25% la productividad a través de aplicación precisa y oportuna. Adicionalmente, menor escorrentía de fertilizantes y ahorro económico anual por menor agua/energía y mano de obra.</p>
	<ResultsCharts />
</Page>
